<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
      <!-- <img id="myImg" src= __dirname + "/public/images/logoRaspPi.png" style="width:100%;max-width:300px">-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT ME</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
