<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./javascripts/menu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<script>
  //var socket = io();
  //socket.on('tempHumid', function(temp, humid) {
  //var s = new WebSocket('ws://' + window.location.host + '/');
  //s.addEventListener('message', function (m) {
    //document.getElementById("temp").innerHTML =  m.data;
    //document.getElementById("temp").innerHTML =  parseFloat(temp) + "C";
    //document.getElementById("humid").innerHTML = parseFloat(humid) + "%";
  //});
  //connection.onopen = () => {
    //document.getElementById("humid").innerHTML = "onOpen";
  //}
  //connection.onerror = error => {
    //document.getElementById("humid").innerHTML = error;
  //}
  //document.getElementById("humid").innerHTML = "asas";

  var socket = new WebSocket('ws://' + window.location.host + '/tempHumid');
  socket.onopen = function(event) {
    log('Opened connection 🎉');
    var json = JSON.stringify({ message: 'Hello' });
    socket.send(json);
    log('Sent: ' + json);
  }

  socket.onerror = function(event) {
    log('Error: ' + JSON.stringify(event));
  }

  socket.onmessage = function(event) {
    log('Received: ' + event.data);
  }

  socket.addEventListener('message', function(event) {
     var args = JSON.parse(event.data);
     if(args.eventId == "tempData"){
       document.getElementById("temp").innerHTML =  parseFloat(args.temperature) + "C";
       document.getElementById("humid").innerHTML = parseFloat(args.humidity) + "%";
      //log('Received data:' + args.temperature);
    }
  })

  socket.onclose = function(event) {
    log('Closed connection 😱');
  }

  document.querySelector('#close').addEventListener('click', function(event) {
    socket.close();
    log('Closed connection 😱');
  });

  document.querySelector('#send').addEventListener('click', function(event) {
    var json = JSON.stringify({ message: 'Hey there' });
    socket.send(json);
    log('Sent: ' + json);
  });

  var log = function(text) {
    var li = document.createElement('li');
    li.innerHTML = text;
    document.getElementById('log').appendChild(li);
  }

  window.addEventListener('beforeunload', function() {
    socket.close();
  });
</script>
<!-- <script>
         function WebSocketTest() {
           alert("ws://" + window.location.host + "/tempHumid");
            if ("WebSocket" in window) {
               alert("WebSocket is supported by your Browser!");

               // Let us open a web socket
               var ws = new WebSocket("ws://" + window.location.host + "/tempHumid");

               ws.onopen = function() {

                  // Web Socket is connected, send data using send()
                  ws.send("Message to send");
                  alert("Message is sent...");
               };

               ws.onmessage = function (evt) {
                  var received_msg = evt.data;
                  alert("Message is received...");
               };

               ws.onclose = function() {

                  // websocket is closed.
                  alert("Connection is closed...");
               };
            } else {

               // The browser doesn't support WebSocket
               alert("WebSocket NOT supported by your Browser!");
            }
         }
      </script> -->
