<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>

<% include partials/menu %>
<!--
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
-->
<div>
<% include partials/sideNav %>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
  <!--
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
-->
</div>

</body>
<% include partials/script %>
</html>
