<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>

  <h1>Temperature and Humidity measurements</h1>

  <div class="row">
    <div class="column left" style="background-color:#aaa;">
      <h4> Room Temperature: <p id="temp"></p>  </h4>
      <h4> Room Humidity: <p id="humid"></p>  </h4>
    </div>
    <div class="column right" id="tempPlot">
      <h3 id="textSaveData">Write data measurements into database</h3>
      <button class="button" id="startBtn" onclick="WebSocketTest()">Start</button>
      <button class="button stop" id="stopBtn" onclick="turnOffDb()">Stop</button>
      <!--
     <div class="form-popup" id="connDB">
     <form action="/action_page.php" class="form-container">
      <h1>Login</h1>

      <label for="host"><b>Host</b></label>
      <input type="text" id="id_host" value="localhost" name="host" required><br>

      <label for="user"><b>User</b></label>
      <input type="text" id="id_user" value="pi" name="user" required><br>

      <label for="database"><b>Database</b></label>
      <input type="text" id="id_db" value="temphumid" name="database" required><br>

      <label for="psw"><b>Password</b></label>
      <input type="password" id="id_psw" placeholder="Enter Password" name="psw" required><br>

      <button type="button" class="btn" onClick="sendLoginForm()">Login</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
     </form>
     </div>
     -->
 </div>
 <p>
       <button id="send">Send Message</button>
       <button id="close">Close</button>
     </p>
     <ul id="log"></ul>

</body>
<% include partials/script %>
</html>
